<section>
  <div class="animated fadeIn table-p">
    <h3 class="text-center">管理员列表</h3>
    <nav class="navbar navbar-default navbar-margin">
        <div class="container-fluid">
            <button class="btn btn-primary navbar-btn" ng-click="addAdmin()" data-toggle="modal" data-target="#addAdmin">添加管理员</button>
        </div>
    </nav>
    <div class="table-responsive">
      <table ng-table="dataTable" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="item in $data">
          <td class="text-center" title="'管理员ID'" filter="{id:'number'}" sortable="'id'">{{item.id}}</td>
          <td class="text-center" title="'管理员姓名'" filter="{name:'text'}" sortable="'managername'">{{item.managername}}</td>
          <td class="text-center" title="'管理员手机号'" filter="{mobile:'number'}" sortable="'mobile'">{{item.mobile}}</td>
          <td class="text-center" title="'机智云密码'" filter="{gizwits_pass:'text'}" sortable="'gizwits_pass'">{{item.gizwits_pass}}</td>
          <td class="text-center" title="'状态'" filter="{status:'number'}" sortable="'status'">{{item.status=="1"?"有效":"无效"}}</td>
          <td class="text-center" title="'类型'" filter="{type:'number'}" sortable="'type'">{{item.type=="1"?"超级管理员":"普通管理员"}}</td>
          <td class="text-center" title="'代理商'" filter="{turnVendor:'text'}" sortable="'turnVendor'">{{item.turnVendor}}</td>
          <td class="text-center" title="'操作'" style="width:11%">
            <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#changeModal" ng-click="change(item)">修改</button>
            <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#deleteModal" ng-click="delete(item)">删除</button>
          </td>
        </tr>
        <tr ng-if="manager.length==0">
          <td class="text-center" colspan=8>没有数据！</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal fade" id="addAdmin">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button class="close" data-dismiss="modal"><span>&times;</span></button>
                  <h4 class="modal-title">信息</h4>
              </div>
              <div class="modal-body">
                  <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-sm-2 control-label">手机号:</label>
                          <div class="col-sm-9">
                              <input type="text" class="form-control" ng-model="addItem.mobile">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">姓名:</label>
                          <div class="col-sm-9">
                              <input type="text" class="form-control" ng-model="addItem.name">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">密码:</label>
                          <div class="col-sm-9">
                              <input type="text" class="form-control" ng-model="addItem.pwd">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">状态:</label>
                          <div class="col-sm-9">
                            <div class="radio" id="t_status">
                              <label>
                                <input type="radio" name="t_status" value="1">
                                有效
                              </label>
                              <label>
                                <input type="radio" name="t_status" value="0" >无效
                              </label>
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label" for="t_pwd">代理商ID:</label>
                          <div class="col-sm-9">
                              <input type="text" class="form-control" ng-model="addItem.vendor">
                          </div>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" ng-click="add_sure()"ng-disabled="time?true:false">确定</button>
                  <button class="btn btn-default" ng-click="add_cancel()">取消</button>
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade" id="changeModal">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button class="close" data-dismiss="modal"><span>&times;</span></button>
                  <h4 class="modal-title">信息</h4>
              </div>
              <div class="modal-body">
                  <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-sm-3 control-label">电话:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="userItem.mobile" disabled>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">密码:</label>
                          <div class="col-sm-8">
                              <input type="password" class="form-control" ng-model="userItem.password">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">状态:</label>
                          <div class="col-sm-8">
                            <div class="radio">
                              <label>
                                <input type="radio" name="status" ng-model="userItem.status" ng-checked="userItem.status==1?true:false" value="1">
                                有效
                              </label>
                                <label>
                                  <input type="radio" name="status" ng-model="userItem.status" ng-checked="userItem.status==0?true:false" value="0">
                                  无效
                                </label>
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">类型:</label>
                          <div class="col-sm-8">
                            <div class="radio">
                              <label>
                                <input type="radio" name="type" ng-model="userItem.type" ng-checked="userItem.type==1?true:false" value="1">
                                超级管理员
                              </label>
                                <label>
                                  <input type="radio" name="type" ng-model="userItem.type" ng-checked="userItem.type==2?true:false" value="2">
                                  普通管理员
                                </label>
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">代理商ID:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="userItem.turnVendor" disabled>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" ng-click="change_sure()">确定</button>
                  <button class="btn btn-default" ng-click="change_cancel()">取消</button>
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade" id="deleteModal">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                  <button class="close" id="close"><span>&times;</span></button>
                  <h4 class="text-left">操作</h4>
              </div>
              <div class="modal-body text-center">
                  <p>您确定要执行删除操作？</p>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" ng-click="delete_sure()">确定</button>
                  <button class="btn btn-default" ng-click="delete_cancel()">取消</button>
              </div>
          </div>
      </div>
  </div>
</section>
