<section>
  <div class="animated fadeIn table-p">
    <h3 class="text-center">洗衣机列表</h3>
    <nav class="navbar navbar-default navbar-margin">
        <div class="container-fluid">
            <button class="btn btn-primary navbar-btn" ng-click="add()" data-toggle="modal" data-target="#add">添加洗衣机</button>
        </div>
    </nav>
    <div class="table-responsive">
      <table ng-table="dataTable" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="item in $data">
          <td class="text-center" title="'洗衣机ID'" filter="{id:'number'}" sortable="'id'">{{item.id}}</td>
          <td class="text-center" title="'洗衣机二维码'" filter="{num:'text'}" sortable="'num'">{{item.num}}</td>
          <td class="text-center" title="'控制器ID'" filter="{device:'number'}" sortable="'device'">{{item.device}}</td>
          <td class="text-center" title="'序号'" filter="{index:'number'}" sortable="'index'">{{item.index}}</td>
          <td class="text-center" title="'插座类型'" filter="{type:'number'}" sortable="'type'">{{item.type}}</td>
          <td class="text-center" title="'插座名称'" filter="{socketname:'text'}" sortable="'socketname'">{{item.socketname}}</td>
          <td class="text-center" title="'洗衣单价'" filter="{price:'number'}" sortable="'price'">{{item.price}}</td>
          <td class="text-center" title="'洗衣机状态'" filter="{status:'number'}" sortable="'status'">{{item.status==0?"空闲":"忙碌"}}</td>
          <td class="text-center" title="'操作'">
            <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#changeModal" ng-click="change(item)">修改</button>
            <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#deleteModal" ng-click="delete(item)">删除</button>
          </td>
        </tr>
        <tr ng-if="socket.length==0">
          <td class="text-center" colspan=9>没有数据!</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal fade" id="add">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button class="close" data-dismiss="modal"><span>&times;</span></button>
                  <h4 class="modal-title">信息</h4>
              </div>
              <div class="modal-body">
                  <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-sm-3 control-label">唯一标识:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="addItem.num">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">控制器ID:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="addItem.device">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">排序:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="addItem.index">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">插座类型:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="addItem.type">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">插座名称:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="addItem.socketname">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">洗衣单价:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="addItem.price">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">所属楼层:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="addItem.floor">
                          </div>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" ng-click="add_sure()">确定</button>
                  <button class="btn btn-default" ng-click="add_cancel()">取消</button>
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade" id="changeModal" data-backdrop="static">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button class="close" data-dismiss="modal"><span>&times;</span></button>
                  <h4 class="modal-title">信息</h4>
              </div>
              <div class="modal-body">
                  <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-sm-3 control-label">唯一标识:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="socketItem.num">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">控制器ID:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="socketItem.device">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">排序:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="socketItem.index">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">插座类型:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="socketItem.type">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">插座名称:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="socketItem.socketname">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">洗衣单价:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="socketItem.price">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">所属楼层:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="socketItem.floor">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">所属楼:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="socketItem.building" readonly>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">所属学校:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="socketItem.school" readonly>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">所属城市:</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" ng-model="socketItem.city" readonly>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" ng-click="change_sure()">确定</button>
                  <button class="btn btn-default" ng-click="change_cancel()">取消</button>
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade" id="deleteModal" data-backdrop="static">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                  <button class="close" id="close"><span>&times;</span></button>
                  <h4 class="text-left">操作</h4>
              </div>
              <div class="modal-body text-center">
                  <p>您确定要执行删除操作？</p>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" ng-click="delete_sure()">确定</button>
                  <button class="btn btn-default" ng-click="delete_cancel()">取消</button>
              </div>
          </div>
      </div>
  </div>
</section>
