
html,body,div,input{
    padding:0;
    margin:0;
}
a:hover{
    text-decoration: none;
}
/*登陆*/
.login{
    box-shadow: 0 2px 50px 8px rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding:2%;
    display: table;
    margin:0 auto;
    vertical-align: middle;
}
.login_container .input-group{
    margin:8% auto;
}
.login_container{
    padding-top: 10%;
    height: 100%;
}
/*动画*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
.cursor{
    cursor: pointer;
}
html{
    width: 100%;
    height: 100%;
}
body{
  height: 100%;
}
input:focus{
    outline:none;
}
/*section主页中的样式*/
.navbar{
    margin-bottom:10px;
}
/*分页*/
ul.pagination{
    display: table;
    margin: 0 auto;
}
.table-p{
  padding:0 10px;
}
.navbar-margin{
    margin-bottom: 0;
}
h3{
    margin-top: 10px;
}
/*公用样式*/
.topnav{
    background-color:#3b5998;
}
.topnav ul li a.white{
    color: #fff;
}
.topnav ul li a.white:visited{
    color:#fff;
}
.topnav ul li a.white:hover{
    color:#3b5998;
    background-color: #fff;
    cursor: pointer;
}
.navbar-default .navbar-brand{
    color: #fff;
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{
    color:#fff;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
    background-color: #3b5998;
}
#main{
    height:92%;
    margin:0 2px;
    border: 2px solid #ccc;
    position: relative;
    overflow: auto;
}
@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu > li > a{
        color:#fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
        color: #fff;
    }
}
#admin{
    margin-right:10%;
}
#admin li a{
    color: #fff;
}
#admin li a:hover{
    color: #1dff21;
}
